
.back-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  color:#131DAF;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
  
  .back-arrow:hover {
    background-color: #f0f0f0;
  }

body {
  font-family: 'Trebuchet MS';
  font-size: 1.2em;
    margin: 5px;
    margin-top: 100px;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF9EE;
}

.text-section {
  padding: 20px;
  text-align: center;
  background-color:#131DAF;
  color: #FFF9EE;
  margin: 20px 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}



.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 80%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}
/* Style the navigation arrows */
.slide-arrow {
    background-color:#131DAF; 
    color: white; 
    font-size: 2rem; 
    border: none; 
    padding: 10px;  
    position: absolute;
    top: 50%;  
  }
  
  /* Position the left arrow on the left */
  .slide-arrow:first-of-type {
    left: 10px;  
  }
  
  /* Position the right arrow on the right */
  .slide-arrow:last-of-type {
    right: 10px; 
  }
  
  /* Add hover effect */
  .slide-arrow:hover {
    background-color: #7DB6F7; 
  }
  
  
  /* Make images inside the slides smaller */
  .slideshow-container .slide img {
    width: 80%;         
    max-width: 600px;   
    height: auto;       
    margin: 0 auto;   
    display: block;   
  }
  