body{
  background-color: #FFF9EE;
}

.back-arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: white;
    color:#131DAF;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .back-arrow:hover {
    background-color: #f0f0f0;
  }

 .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb-bar img {
    width: 50px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}

.text-section {
  padding: 20px;
  text-align: center;
  background-color:#131DAF;
  color: #FFF9EE;
  margin: 20px 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial Bold';
}
