/* General Styling */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
  }
  
  .title-image{
    max-width: 400px; 
    max-height: 200px; 
    margin-left: 30%;
    object-fit: cover;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF9EE;
  }
  
  /* About Section */
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #131DAF;
    color: #FFF9EE;
    border-radius: 8px;
    margin-top: 50px;
  }
  
  .about-img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .about-description {
    max-width: 600px;
  }
  
  .about-description h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
  }
  
  .about-description p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  /* Filter Buttons */
  .filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .filter-buttons button {
    background-color: #131DAF;
    color:#FFF9EE;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .filter-buttons button:hover {
    background-color: #7DB6F7;
  }
  
  /* Projects Section */
  #projects {
    display: flex;
    flex-direction: column;
    margin: 3vh 20vw;
    justify-content: center;
  }
  
  /* Project Cards */
  .project-card {
    background-color: #131DAF;
    border-radius: 8px;
    box-shadow: 0 4px 8px grey;
    overflow: hidden;
    width: 100%;
    max-width: 700px;  /* Increased max-width for wider cards */
    display: flex;
    flex-direction: column;
    margin: 40px;
    text-decoration: none;

  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card .project-info {
    padding: 15px;
    color: #FFF9EE;
  }
  
  .project-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#FFF9EE;
  }
  
  .project-card p {
    font-size: 1em;
    line-height: 1.5;
    color:#FFF9EE;
  }

  .project-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Keeps the text color consistent */
}

.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    background-color:  #7DB6F7;
}

  
  /* Button Styling for Project Cards */
  #buttons {
    display: flex;
    justify-content: center;
  }
  
  #buttons button {
    margin: 10px;
  }
  
  /* Responsive Layout */
  @media (max-width: 1200px) {
    .project-card {
      max-width: 50%;  /* Wider cards for large tablets */
    }
  }
  
  @media (max-width: 768px) {
    .project-card {
      max-width: 100%; /* 1 card per row on mobile */
    }
  }
  

  .site-footer {
    background-color: #131DAF;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #7DB6F7;

}

.footer-content p {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    margin: 0 0 10px;
    color: #FFF9EE;
}

.contact-button, .linkedin-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: #FFF9EE; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-button:hover, .linkedin-button:hover {
    background-color: #7DB6F7;
    color:black;
}

